<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastrar Curso</title>
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
    <link rel="stylesheet" type="text/css" href="CSS/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="meu-container">
      <header>
        <!-- Logo -->
        <a href="index.html">
          <div id="logo">
              <img src="Imagem/logo.png" />
          </div>
        </a>
        <nav>
          <ul class="navigation">
            <li><a href="form_turno.html"><b>Turno</b></a></li>
            <li><a href="form_turma.html"><b>Turma</b></a></li>
            <li><a href="form_professor.html"><b>Professor</b></a></li>
            <li><a href="form_escola.html"><b>Escola</b></a></li>
            <li><a href="form_endereco.html"><b>Endereço</b></a></li>
            <li><a href="form_disciplina.html"><b>Disciplina</b></a></li>
            <li><a href="form_curso.html"><b>Curso</b></a></li>
            <li><a href="form_campus.html"><b>Campus</b></a></li>
            <li><a href="form_aluno.html"><b>Aluno</b></a></li>
          </ul>
        </nav>
      </header>
      <main>
        <p>
          <b> <u>Cadastrar Curso</u> </b>
        </p>
        <form action="http://localhost:5000/form_curso" method='POST' name="cursoController">
          <div class="form-group">
            <label for= 'Nome'> Nome:</label>
            <input type= 'text' ng-model='nome' name= 'Nome' class="form-control" required ng-minlenght="2" ng-maxlenght="50">

            <div ng-show="cursoController.nome.$invalid && cursoController.nome.$dirty" class="alert alert-danger">
              Insira o nome!
            </div>
          </div>
          <div class="form-group">
            <label for= 'fk_id_turno'> FK_Turno:</label>
            <input type= 'text' ng-model='fk_id_turno' name= 'fk_id_turno' class="form-control" required ng-minlenght="2" ng-maxlenght="50">

            <div ng-show="cursoController.fk_id_turno.$invalid && cursoController.fk_id_turno.$dirty" class="alert alert-danger">
              Insira o turno!
            </div>
          </div>
          <input type= 'submit' name='cadastrar' value= 'Cadastrar' class="btn btn-primary btn-lg btn-block">
        </form>
      </main>
      <footer>
        <div id="ifpb">
            <img src="Imagem/ifpb.png" />
        </div>
        Copyright © Todos os direitos reservados.
      </footer>
    </div>
  </body>
</html>
